/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .logo {
        width: 150px;
    }

    .header-right {
        margin-left: -40px;
    }

    .header-right a {
        font-size: 14px;
        padding: 0 10px;
    }

    .welcome {
        font-size: 42px;
    }

    .message {
        font-size: 16px;
    }

    .tentang .container {
        flex-direction: column;
        font-size: 18px;
    }

    .foto {
        flex-direction: column;
    }

    .foto-1 .text-tentang,
    .foto-2 .text-tentang {
        /* or 164% */
        margin: 10px 0;
    }

}




/* Untuk Smartphone */
@media all and (max-width: 700px) {
    header .container {
        width: 100%;
        background-color: rgba(240, 248, 255, 0.6);
    }

    .header-left {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .header-right {
        display: none;
    }

    /* Hamburger */

    span {
        display: inline;
        position: absolute;
        top: 11px;
        right: 20px;
        font-size: 50px;
        cursor: pointer;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .top-wrapper>p {
        text-align: center;
    }

    .welcome {
        font-size: 31px;
    }


    .text-tentang {
        font-size: 16px;
        line-height: 30px;
    }

    .prestasi-slider {
        padding: 0;
    }

    .prestasi img {
        margin: 0 auto;

    }

    .guru-container {
        /* margin-left: 100px; */
        display: flex;
        justify-content: center !important;
    }

    .guru-slider {
        display: flex;
        justify-content: space-evenly !important;
    }

}

@media all and (max-width: 430px) {
    .prestasi {
        width: 90%;
    }

    .prestasi img {
        width: 95%;
    }
}