/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header */
html {
    scroll-behavior: smooth;
}

/* Button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 25px;
    padding: 6px 12px;
    z-index: 99;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    border: none;
    background-color: bisque;
    color: rgb(197, 195, 193);
    cursor: pointer;
    border-radius: 50%;
}


/* Nav Bar */
body {

    overflow-x: hidden !important;
}

header {
    z-index: 2;
    height: 700px;
    /* bg-img */
    background: url(../assets/background-header.jpg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header .container {
    /* height: 120px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    width: 90%;
}

.logo {
    width: 205px;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
}

.header-right a {
    padding: 0 10px;
    display: block;
    float: left;
    transition: all 0.5s;
    color: #313030;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;

}

.header-right a:hover {
    color: bisque;
}

/* Responsive navbar */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay-content a {
    margin-bottom: 10px;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

span {
    display: none;
}

/* Selamat Datang */
.top-wrapper {
    text-align: center;
    margin: 200px 0 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-wrapper>p {
    transition: all 0.5s;
}

.br {
    color: #273E4B
}

.welcome {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    text-transform: uppercase;
}

/* Button */
.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    padding: 10px 0;
}

.btn {
    padding: 12px 35px;
    color: black;
    display: inline-block;
    text-align: center;
    background-color: none;
    border: black solid 1px;
    text-decoration: none;
    transition: all 0.7s;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
}

.btn:hover {
    opacity: 0.8;
    color: white;
    background-color: black;

}

/* Tentang */

main {
    margin-top: 90px;
}

h2 {
    display: block;
    text-align: center;
    font-size: 3.125rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0 40px;
}

.tentang {
    background: url(../assets/background-Tentang.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.tentang .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.foto {
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foto-2 {
    flex-direction: row-reverse;
}

.foto-tentang {
    width: 100%;
    height: auto;
    border-radius: 45px;
    box-sizing: border-box;
}

.text-tentang {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 41px;
    letter-spacing: 0.02em;
    text-align: justify;
    transition: all 0.5s;
    box-sizing: border-box;
    width: 95%;
}

.foto-1 .text-tentang {
    /* or 164% */
    margin-left: 40px;
}

.foto-2 .text-tentang {
    margin-right: 40px;
}


/* GURU */

.guru {
    background: url(../assets/guru/bg-guru.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #C4C4C4;
    opacity: 0.3;
    border-radius: 50%;
    position: absolute;
    transition: all 0.8s;
    z-index: -1;
}

.dot1 {
    top: 190px;
    left: 240px;
}

.dot2 {
    top: 30px;
    left: 70px;
}

.container-guru:hover>.dot {
    top: 0;
    left: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 0 0;
    transition: all 0.8s;
}

.container-guru:hover+.text {
    border-radius: 0 0 30px 30px;
    transition: all 0.8s;
}

.container-guru {
    position: relative;
    width: 300px;
    height: auto;
}

/* .container-guru img{
    margin-bottom: -2p;
  } */
.text {
    width: 300px;
    height: auto;
    background-color: #F4EBEB;
    opacity: 0.8;
    margin-top: -3px;
    text-align: center;
    transition: all 1s;
    padding: 10px 0 5px;
}

h4 {
    font-size: 1.875rem;
}

h5 {
    font-size: 1.188rem;
    color: rgba(80, 80, 80, 0.993);
}

.guru {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 auto; */
}

.guru-container {
    flex-basis: 30%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.container-guru img {
    width: 300px !important;
    height: 293px;
}


/* Jumlah Siswa */
.jumlah-siswa {
    margin: 70px 0 90px;
}

.jumlah-siswa .container {
    height: 268px;
    background-color: #FAFAFA;
    margin-bottom: 60px;

    background: url(../assets/background-siswa.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.jumlah-siswa .container .siswa-slider {
    width: 120px;
}



.container .siswa-slider .siswa {
    font-size: 3.438rem;
    text-align: center;
    color: #C0CAC9;

}

/* Prestasi */
.prestasi-container {
    height: 444px;
    padding-bottom: 60px;
}

.prestasi {
    display: inline-block;
    width: 100%;
}

.prestasi-slider {
    padding-left: 20px;
}

.prestasi img {
    width: 95%;
    height: auto;
    overflow: hidden;
}


/* Footer */
footer {
    margin-top: 60px;
    height: 100px;
    background-color: #FAFAFA;
    text-align: center;
    line-height: 100px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

footer p {
    opacity: 0.6;
}

footer a {
    text-decoration: none;
}

/* Scroolbar */
::-webkit-scrollbar {
    background-color: #222526;
    color: #b4aca1;
}

::-webkit-scrollbar-corner {
    background-color: #191b1c;
}

::-webkit-scrollbar-thumb {
    background-color: #484e51;
}

::selection {
    background-image: initial;
    background-color: rgb(0, 91, 182);
    color: rgb(244, 242, 238);
    text-shadow: none;
}

::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: #0051b3 !important;
    color: #f4f2ee !important;
}